<div class="bg-img-homepage">
  <p class="text-center header-title"><span>AragonMultiservice Administration</span></p>
  <p class="text-center header-subtitle mt-1"><span>Gestisci il tuo e-commerce in maniera facile e veloce!</span></p>
  <section class="bg-section">
    <div class="container-fluid">
      <div class="row row-margin mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card text-center mb-4">
            <p class="header-subtitle mt-4">Che cosa vuoi fare ora?</p>
            <div class="card-body row mb-3">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card card-selection" style="cursor: pointer" (click)="goToView('catalog')">
                  <div class="card-body text-center mt-2">
                    <p class="mt-2" style="font-size: 20px;">
                      Gestisci il catalogo
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card card-selection" style="cursor: pointer"
                     (click)="goToView('orders')">
                  <div class="card-body text-center mt-2">
                    <p class="mt-2" style="font-size: 20px; cursor: pointer">
                      Gestisci gli Ordini
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card card-selection mt-3" style="cursor: pointer"
                     (click)="goToView('stock')">
                  <div class="card-body text-center mt-2">
                    <p class="mt-2" style="font-size: 20px; cursor: pointer">
                      Gestisci lo stock
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card card-selection mt-3" style="cursor: pointer"
                (click)="goToView('anagrafica')">
                  <div class="card-body text-center mt-2">
                    <p class="mt-2" style="font-size: 20px;">
                      Gestisci l'anagrafica
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>




