/* You can add global styles to this file, and also import other style files */
.from-fixed-navbar {
  padding-top: 7rem;
}

.header-title {
  padding-top: 10rem;
  font-weight: bold;
  font-size: 60px;
  color: black;
}

.header-title > span {
  background-color: rgba(254,222,255, 0.6);
  padding: 0.7rem;
}

.header-subtitle {
  font-weight: bold;
  font-size: 25px;
  color: black;
}

.header-subtitle > span {
  background-color: rgba(254,222,255, 0.6);
  padding: 0.7rem;
}

.card-selection:hover {
  border: 3px solid rgb(254,222,255);
  font-weight: bold;
}

.bg-img-homepage {
  height: 130vh;
  padding: 0;
  width: 100%;
  background: url('assets/img/artist-color.jpg') no-repeat center center fixed;
  opacity: 85%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-outline-aragon {
  color: #e56bf0;
  border-color: rgb(254,222,255);
}

.btn-outline-aragon:hover {
  background: linear-gradient(90deg, rgba(254,222,255,1) 0%, rgba(250,243,131,1) 44%, rgba(0,212,255,1) 100%);
  color: black;
}

.hover{
  cursor: pointer;
}
